<!doctype html>
<html>
  <head>
    <title>About <%= appData.appName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%= appData.appName %></h1>
    <p>This is a health app where you can gain help or improve on all aspects of your health!😊💚><p>
  </body>
</html>
