<!doctype html>
<html>
  <head>
    <title>Books - <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Books at <%= shopData.shopName %></h1>

    <% if (availableBooks && availableBooks.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Price (£)</th>
          </tr>
        </thead>
        <tbody>
          <% availableBooks.forEach(function(book) { %>
            <tr>
              <td><%= book.name %></td>
              <td>£<%= book.price %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <p>No books found.</p>
    <% } %>

    <p><a href="/">Back to home</a></p>
  </body>
</html>
