<!doctype html>
<html>
  <head>
    <title>Search <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search for a book</h1>

    <form action="search-result" method="GET">
      <p>
        <label for="keyword">Book title contains:</label>
        <input id="keyword" type="text" name="keyword" required />
      </p>
      <input type="submit" value="Search" />
    </form>

    <p><a href="/">Back to home</a></p>
  </body>
</html>